/* Boutons */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* Paragraphe */ @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
/* Titres */ @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Titre de page */ @import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

#particles-js{
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}
.menu{
    width: auto;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50% , -50%);
}

.text{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Commissioner';
}

.text p{
    font-size: 20px;
    margin-bottom: 50px;
    font-family: 'Itim';
}

.sitename{
    margin: 20px 0px;
    font-size: 75px;
    font-family: 'Syne Tactile';
    letter-spacing: 2px;
}
.btn-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-nav .btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border:#FFFFFF 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Roboto Mono';
    font-size: 25px;
    width: 200px;
    margin: auto;
}

.btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white ,0 0 40px white,0 0 80px white,0 0 10px white;
    font-weight: bold;
}
