/* Boutons */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* Paragraphe */ @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
/* Titres */ @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Titre de page */ @import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');


body{
     background-color: #090624;
}

header{
     display: flex;
     flex-direction: row;
     height: 150px;
     background-color: #271D7D;
}

.return-index{
     width: 49%;
     height: 150px;
     display: flex;
}

.return-index a{
     font-family: 'Roboto Mono';
     font-size: 35px;
     color: #FFFFFF;
     text-decoration: none;
     margin: auto;
     padding: 27px;
     transition-duration: 0.5s;
}

.title{
     text-align: center;
     margin: auto;
     color: #ffffff;
}

.title h1{
     font-size: 50px;
     font-family: 'Syne Tactile';
     letter-spacing: 2px;
}

.logo{
     width: 49%;
     height: 150px;
}

.return-index a:hover{
     background-color: #B6ADFF;
     font-weight: bold;
     color: black;
}

.C1{
     width: 90%;
     height: 600px;
     background-color: #140D50;
     margin-left: auto;
     margin-right: auto;
     margin-top: 200px;
     margin-bottom: 50px;
     display: flex;
     justify-content: space-around;
}

.C_biographie{
     width: 80%;
     height: 600px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 50px;
     margin-bottom: 50px;
     display: flex;
     justify-content: space-around;
}

.Informations{
     width: 50%;
     height: 500px;
     border: #FFFFFF solid 2px;
     margin: auto;
     background-color: #2A1CA6;
     display: flex;
     flex-direction: column;
}

.image{
     margin: auto;
     background-color:  #2A1CA6;
     border: #FFFFFF solid 2px;
}

.Informations .titre{
     height: 100px;
     width: 100%;
     color: white;
     background-color: rgb(145, 145, 233);
     font-family: 'Roboto Mono';
     display: flex;
}

.Informations .titre h2{
     margin: auto;
     font-size: 40px;
}

.Informations .contenu{
     width: 100%;
     height: 300px;
     font-size: 25px;
     color: #FFFFFF;
     font-family: 'Commissioner';
     display: flex;
}

.Informations .contenu p{
     margin: auto 20px;
}

.Informations  .liens{
     width: 100%;
     height: 100px;
     font-family: 'Roboto Mono';
     background-color: rgb(9, 9, 73);
     display: flex;
}

.Informations .liens a{
     width: 100%;
     height: 100%;
     text-decoration: none;
     font-size: 25px;
     font-weight: bold;
     color: #FFFFFF;
     letter-spacing: 1px;
     transition: 0.3s;
     display: flex;
}

.Informations .liens a span{
     margin: auto;
}

.Informations .liens a:hover{
     background-color: white;
     color: black;
     box-shadow: 0 0 10px white ,0 0 40px white,0 0 80px white,0 0 10px white;
}

#footer{
     width: 100%;
     height: 200px;
     background-color: rgb(32, 41, 90);
     display: flex;
     justify-content: space-around;
     border-top: 2px rgb(181, 181, 231) solid;
}

#footer div{
     height: 100%;
     width: 300px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

#footer div p{
     color: #ffffff;
     font-family: 'Roboto Mono';
     text-align: center;
}

.Informations_biographie-bordure_droite{
     background-color: #2A1CA6;
     display: flex;
     justify-content: space-around;
     margin: auto;
     border-radius: 0% 100px 100px 0%;
}

.Informations_biographie-bordure_gauche{
     background-color: #2A1CA6;
     display: flex;
     justify-content: space-around;
     margin: auto;
     border-radius: 100px 0% 0% 100px;
}

.contenu_biographie{
     font-size: 20px;
     font-family: 'Commissioner';
     color: #FFFFFF;
     margin: auto;
     padding: 40px;

}

.copyright{
     font-size: 30px;
}

